.main_product_category{
  margin:100px auto;
}

/* 
탭버튼 중앙정렬 .section.tab-center
*/
.main_product_inner{}

/* .main_title */
.section.tab-center .main_title{
  text-align: center;
  margin-bottom:var(--space-xl);
}

.section.tab-center .main_title .main_title_txt01{
  font-size:calc(
   18px + (30 - 18) * ((100vw - 370px) / (1760 - 370))
  );
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-color);
}
.section.tab-center .main_title .main_title_txt02{
  font-size:calc(
   13px + (20 - 13) * ((100vw - 370px) / (1760 - 370))
  );
  line-height: 1;
  color: var(--ub-font-title-txt02-color);
  margin-top:15px;

}

/* 탭메뉴 */
.main_product_category .main_product_tab{}
.section.tab-center .main_product_tab{
  display: flex;
  justify-content: center;

  width:100%;
  border: 1px solid #f00;/*삭제*/
}
.section.tab-center .main_product_tab li{
  margin:0 var(--space-xs);
  padding:0 var(--space-xs);
   /* border: 1px solid #000;
  background-color: #efefef; */
}
.section.tab-center .main_product_tab li button{
  position: relative;
  font-size:calc(
   13px + (18 - 13) * ((100vw - 370px) / (1760 - 370))
  );
  
  line-height: 1.6;
  color:var(--ub-tab-button-default);
 
}


.section.tab-center .main_product_tab li button.active{
  color:var(--ub-tab-button-active);
}

.section.tab-center .main_product_tab li button.active::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}

/* 
수평 탭버튼 section.tab-horizontal
main_title main_product_tab 수평으로 배치
*/
.section.tab-horizontal .main_product_inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.section.tab-horizontal .main_title{
    text-align: left;  margin-bottom: 0;     flex:1 1 auto
}

.section.tab-horizontal .main_title .main_title_txt01{
  font-size:calc(
   18px + (24 - 18) * ((100vw - 370px) / (1760 - 370))
  );
}
.section.tab-horizontal .main_title .main_title_txt02{
  font-size:calc(
   13px + (16 - 13) * ((100vw - 370px) / (1760 - 370))
  );
}
.section.tab-horizontal  .main_product_tab{
  justify-content: end;   width: auto;
}
.section.tab-horizontal .main_product_tab li button.active{
  color:var(--ub-tab-button-active);
}

.section.tab-horizontal .main_product_tab li button.active::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}

/*
수직 탭버튼 .section.tab-vertical
*/
.section.tab-vertical {
  display: flex;
  /* flex-direction: row;
  justify-content: start; */
}
.section.tab-vertical .main_product_inner{
  /* flex:0 1 auto; */
  width:16%;
  margin-right: 2%;

}
.section.tab-vertical .main_title{
    text-align: left;  margin-bottom: 0;     flex:1 1 auto;
    margin-bottom: var(--space-lg);
}

.section.tab-vertical .main_title .main_title_txt01{
  font-size:calc(
   18px + (24 - 18) * ((100vw - 370px) / (1760 - 370))
  );
  font-weight: 500;
}

.section.tab-vertical .main_title .main_title_txt02{
  font-size:calc(
   13px + (16 - 13) * ((100vw - 370px) / (1760 - 370))
  );
}

.section.tab-vertical .main_product_tab{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.section.tab-vertical .main_product_tab >li {
  margin:0;
  padding:var(--space-sm) var(--space-md);
  margin-bottom: var(--space-md);
  background-color: #efefef;
}

.section.tab-vertical .main_product_tab li button.active{
  color:var(--ub-tab-button-active);
}

.section.tab-vertical .main_product_tab li button.active::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}
/* li에 배경을 넣는 다면  content:none
li에 배경을 넣지 않으면 content:none을 코멘트처리
*/
.section.tab-vertical .main_product_tab >li button::after,
.section.tab-vertical .main_product_tab >li button.active::after{
  content: none;
}
.section.tab-vertical .content_list{
  width:82%;
}


/*
탭콘텐츠
content_list
*/
.tabcontent{
  width: 100%;
  background-color: #ddd;
  min-height: 400px;
  border: 1px solid #aaa;
}

.section.main_product_category  .content_list .tabcontent{
   display: none;
}
.section.main_product_category .content_list .tabcontent.active{
  display: block;
}