#footer{margin-top:100px;} /*삭제*/
/* 푸터 css 연습 */
#footer{
  width:100%;
  border-top:1px solid #e5e5e5;
  background-color: #ccc; /*테스트후 변경*/
}
#footer .inner{
  width:var(--section-width, 92%);
  max-width: var(--max-width, 1680px);
  margin: 0 auto;
  padding:80px 0 88px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

/* 설명  .bt_top .bt_middle .bt_bottom*/
/* #footer .inner > div{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
} */

.bt_top{  width: 100%;}
.bt_middle{width: 100%;}
.bt_bottom{width: 100%;}